body{
    font-family: sans-serif;
}

html, .fullscreen{
    display: inline;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

button{
    width: 100px;
    height: 100px;
}

.fila{
    display: flex;
}